<!-- views/partials/navbar.ejs -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">kill_base2.0</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/assassins">assassins</a></li>
      <li><a href="/contracts">contracts</a></li>
      <!-- <li><a href="/clients">clients</a></li>
      <li><a href="/targets">targets</a></li> -->
    </ul>
  </div>
</nav>
