<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

     <% include ./partials/header %>


  </head>
  <body>
<% include navbar %>
<section>



<h1>Assssins_Table</h1>
		<ul>
			<% assassins.forEach(function (assassin) {%>
				<li><%= assassin.full_name%></li>
			<% }) %>
		</ul>


		<div>
		       <% include ./partials/footer %>
		</div>


		</section>
  </body>
</html>
