<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>kill_base2.0⚔️</title

			<div>
			       <% include ./partials/header %>
			</div>
  </head>
  <body>
<% include navbar %>

<section>


<h1><%='⚔️ killbase2.0'%></h1>
  <p>this is some information.</p>
	<form action="/action_page.php">
	assassins:<input type="text" ><br>
	<button type="submit" formaction="/assassins">
	Submit
	</button>
</form>

	<form action="/action_page.php">
	contracts:<input type="text" ><br>
	<button type="submit" formaction="/contracts">
	Submit
	</button>

</form>



	<!-- buttons that will send you to the next page  like links ass. con.-->
	<a href="/assassins"><button>Assassins</button></a>
	<a href="/contracts"><button>Contracts</button></a>
<div>
       <% include ./partials/footer %>
</div>
</section>
	</body>
</html>
