<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>kill_base2.0⚔️</title

			<div>
			       <% include ./partials/header %>
			</div>
  </head>
  <body>
<% include navbar %>

<section>


<h1><%='⚔️ killbase2.0'%></h1>
  <p>this is some information.</p>
	<!-- buttons that will send you to the next page  like links ass. con.-->
	<a href="/assassins"><button>Assassins</button></a>
	<a href="/contracts"><button>Contracts</button></a>

	<a href="/assassins"><button>Assassins_id</button></a>
	<a href="/contracts"><button>Contracts_id</button></a>
<div>
       <% include ./partials/footer %>
</div>
</section>
	</body>
</html>
